/* ---------- markdown cells
 */
body.rise-enabled .reveal .slides {
    font-size: 100%;
    top: 0 !important;
}

.reveal pre code {
    max-height: 90% !important;
}

body.rise-enabled .code_cell {	
    font-size: 150% !important;
}

body.rise-enabled .text_cell .rendered .rendered_html {	
    min-height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    position: absolute !important;
    top: 0 !important;
    align-items: center !important;
}

body.rise-enabled .reveal .slides>section {
    min-height: 100% !important;
}

body.rise-enabled .reveal .slides>section>section {
    min-height: 100% !important;
}

